{% extends 'forum/base.html' %}

{% block task_accept %}
<h1>同意接受委託 accept the task {{ request_id }}</h1>
    <form method="POST"  class="form form-horizontal">
        {% csrf_token %}
        <label for="username">your name : {{request.session.username}}</label><br>
        {{form.as_p}}
        <h3>{{msg}}</h3>
        <button type="submit" id="bt_accept" class="save btn btn-default">accept 確認</button>
    </form>

<script>
    function visibilityHideUI()
    {
        var ui =document.getElementById("bt_accept");
        ui.style.visibility={{bt_display}};
    }
    function visibilityShowUI()
    {
        var ui =document.getElementById("bt_accept");
        ui.style.visibility={{bt_display}};
    }
</script>

{% endblock %}