{% extends 'forum/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Your journey starts here.</h1>
            <p>You succesfully activated your account. 感謝您的註冊，開始使用</p>
            <a href="/forum/all" class="btn btn-primary">delivery other person items 運送物品</a>
            <a href="/forum/ask" class="btn btn-primary">send my items 找人送件</a>
            </p>
        </header>

    </div>
<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
{% endblock %}