{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Welcome to TakeMeThere 物品託帶網  by Patrick Hsieh</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            }
    </style>
</head>
<header>{% if request.session.username %}<span class="greeting" style="display: block; background: black; text-align: left; color: white; font-size: 20px;">Welcome {{ request.session.username }}</span>{% endif %}</header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/forum/">Home 首頁</a></li>
          {% block nav-forum %}<li><a href="/forum/get_task">send item 送件</a></li>{% endblock %}
          {% block nav-answer%}<li><a href="/forum/AllTasks">delivery item 運件</a></li>{% endblock %}
            <li><a href="/forum/my_tasks">MyTasks 我的案件</a></li>
            <li><a href="/forum/my_responsible">MyResponsible 我的接案</a></li>
            <li><a href="/register/">sign-up 註冊</a></li>
          {% if request.session.username %}
            <li><a href="/forum/logout">Logout 登出</a></li>
            {% else %}
            <li><a href="/forum/login">Login 登入</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
{% block form %}
{% endblock %}
{% block view %}
{% endblock %}
{% block Alltasks %}
{% endblock %}
{% block content %}
{% endblock %}
{% block formcomment %}
{% endblock %}
{% block loginview %}
{% endblock %}
{% block task_accept %}
{% endblock %}