{% extends "forum/base.html" %}
{% block form %}
<style>
    .form-wrap {
        text-align: left;
        width: 40%;
        float: left;
        padding: 50px;
        }
     input {
        width: 100%;
        }
     textarea {
        width: 100%;
        }
      }
</style>
<div class="jumbotron" style="text-align: center;">
    <h1>Send your requests 運送物品資訊</h1>
</div>
<!-- write form name at forms.py
    #id_title {
        height: 50px;
        font-size: 40px;
        border: none;
        border-bottom: solid 1px black;
        }
-->
    <div class="form-wrap">
        <a href="/forum/login/"><h4>{{msg}}</h4></a>
        <form action="" method="post" class="form form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">item 物品名稱:</label><br>
            {{ form.title }}<br><br>
            <label for="startloc">start location 取件地點:</label><br>
            {{ form.startloc }} <br><br>
            <label for="endloc">delivery location 收件地點:</label><br>
            {{ form.endloc }} <br><br>
            <label for="starttime">pickup time取件時間:</label><br>
            {{ form.starttime }} <br><br>
            <label for="endtime">delivery time最晚運送時間:</label><br>
            {{ form.endtime }} <br><br>
            <label for="desc">description 詳細敘述(包含體積重量):</label><br>
            {{ form.desc }} <br><br>
            <label for="Price">Price運費:</label><br>
            {{ form.price }} <br><br>
            <label for="file">item pic.物品圖片:</label><br>
            {{ form.file }} <br><br>
            <input class="btn btn-primary" type="submit" name="submit">
        </form>
    </div>
{% endblock %}
    <div class="recent-posts"> {% include 'forum/recent_post.html' %} </div>
