{% extends 'forum/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome 物品託帶網!</h1>
            <p>協助您將物品帶網特定地點，互助合作的網站</p>
            <p><a href="/forum/get_task/" class="btn btn-primary btn-large">start a request!</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Latest Features</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="" alt="">
                    <div class="caption">
                        <h3>發出需求</h3>
                        <p>填寫需要運送物品的資訊 Information of delivery items</p>
                        <p>
                            <a href="/forum/get_task/" class="btn btn-default">start request</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="" alt="">
                    <div class="caption">
                        <h3>接受需求</h3>
                        <p>開始協助運送物品賺取收入 start help delivery and eran income</p>
                        <p>
                            <a href="/forum/AllTasks/" class="btn btn-default">accept</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="" alt="">
                    <div class="caption">
                        <h3>註冊</h3>
                        <p>註冊帳號Register</p>
                        <p>
                            <a href="/forum/register/" class="btn btn-default">Register</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer
                        <p>Copyright &copy; Exenv {% now "Y" %}</p>
         -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; PNforceStuidio</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
{% endblock %}