{% extends 'forum/base.html' %}
{% block Alltasks %}
<h3>{{msg}}</h3>
<table class="table table-hover">
    <tr>
        <th>名稱name</th>
        <th>在哪裡start loc.</th>
        <th>送往哪end loc.</th>
        <th>時限end time.</th>
        <th>運費price</th>
        <th>案件狀態state</th>
        <th>發案人owner</th>
        <th>接案人accepter</th>
        <th>__執行動作act__</th>
    </tr>
    {% for item in query %}
    <tr>
        <td> {{ item.title }} </td>
        <td> {{ item.startloc }} </td>
        <td> {{ item.endloc }} </td>
        <td> {{ item.endtime }} </td>
        <td> {{ item.price }} </td>
        <td><a> {{ item.state }} </a></td>
        <td><a href="/forum/view/{{ item.username }}/user_info/"> {{ item.username }} </a></td>
        <td><a href="/forum/view/{{ item.accepter }}/user_info/"> {{ item.accepter }} </a></td>
        <td><a href="/forum/view/{{ item.id }}/">詳細 </a>
            {% if item.state == 'wait_confirm' or item.state == 'wait_confirm' %}|<a href="/forum/view/{{ item.id }}/cancel/"> 取消取件 </a> {% endif %}
            {% if item.state == 'wait_pickup' %}|<a href="/forum/view/{{ item.id }}/shipping/"> 開始運送 </a>{% endif %}
            {% if item.state == 'shipping' %}|<a href="/forum/view/{{ item.id }}/received_task/"> 通知送達 </a>{% endif %}
            {% if item.state == 'arrived' %}|<a href="/forum/view/{{ item.id }}/score/"> 評分 </a> {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

        <!--
        <a href="/forum/view/{{ item.id }}/cancel/">取消</a>
        /<a href="/forum/view/{{ item.id }}/received_task/">物品送達/
        -->