{% extends 'forum/base.html' %}
{% load static %}
{% block view %}
<style>

</style>
    <h4>{{msg}}</h4>
    <form method="POST"  class="form form-horizontal">
        {% csrf_token %}

        <h3> 你好  {% if key_isuser %} {{username}} {% else %} {{accepter}} {% endif %} ! </h3>
        <h3> {% if key_isuser %} 委託{{accepter}}運送 {% else %} 協助{{username}}運送 {% endif %} {{title}}，已收件完成</h3>
        <h3> 請給對方評分  {% if key_isuser %} {{accepter}} {% else %} {{username}} {% endif %} </h3>

        <h3>運送速度&準時</h3>
        <div>
            <label class="radio-inline">5</label>
            <input type="radio" name="radio_score_speed" value="5" checked>
            <label class="radio-inline">4</label>
            <input type="radio" name="radio_score_speed" value="4">
            <label class="radio-inline">3</label>
            <input type="radio" name="radio_score_speed" value="3">
            <label class="radio-inline">2</label>
            <input type="radio" name="radio_score_speed" value="2">
            <label class="radio-inline">1</label>
            <input type="radio" name="radio_score_speed" value="1">
        </div>

        <h3>服務態度&回復速度</h3>
        <div>
            <label class="radio-inline">5</label>
            <input type="radio" name="radio_score_service" value="5" checked>
            <label class="radio-inline">4</label>
            <input type="radio" name="radio_score_service" value="4">
            <label class="radio-inline">3</label>
            <input type="radio" name="radio_score_service" value="3">
            <label class="radio-inline">2</label>
            <input type="radio" name="radio_score_service" value="2">
            <label class="radio-inline">1</label>
            <input type="radio" name="radio_score_service" value="1">
        </div>

        <h3>整體評分</h3>
        <div>
            <label class="radio-inline">5</label>
            <input type="radio" checked name="radio_score_all" value="5" >
            <label class="radio-inline">4</label>
            <input type="radio" name="radio_score_all" value="4">
            <label class="radio-inline">3</label>
            <input type="radio" name="radio_score_all" value="3">
            <label class="radio-inline">2</label>
            <input type="radio" name="radio_score_all" value="2">
            <label class="radio-inline">1</label>
            <input type="radio" name="radio_score_all" value="1">
        </div>
        <br>
        <table class="table table-hover">
            <label for="desc">評價留言</label>
            <input type="text" id="desc" name="desc" value={{ desc }}><br>
        </table>
        <button type="submit" id="bt_task_modify" class="save btn btn-default">ok 確認</button>
    </form>
<hr>

{% endblock %}
