{% extends 'forum/base.html' %}
{% load static %}
{% block view %}
<style>
    .text-actually {
        font-size: 30px;
        padding-left: 20px;
        }
     .img-uploaded {
        max-width: 500px;
        }
</style>
<h4>{{msg}}</h4>
<table>
        {% for item in query %}
    <tr>
        <td>Date: </td>
        <td class="text-actually">{{ item.created }}</td>
    </tr>
    <tr>
        <td>名稱Title: </td>
        <th class="text-actually">{{ item.title }}</th>
    </tr>
    <tr>
        <td>收件點startloc: </td>
        <th class="text-actually">{{ item.startloc }}</th>
    </tr>
    <tr>
        <td>送貨點endloc: </td>
        <th class="text-actually">{{ item.endloc }}</th>
    </tr>
    <tr>
        <td>開始時間starttime: </td>
        <th class="text-actually">{{ item.starttime }}</th>
    </tr>
    <tr>
        <td>結束時間endtime: </td>
        <th class="text-actually">{{ item.endtime }}</th>
    </tr>
    <tr>
        <td>運費price: </td>
        <th class="text-actually">{{ item.price }}</th>
    </tr>
    <tr>
        <td>敘述desc: </td>
        <th class="text-actually">{{ item.desc }}</th>
    </tr>
    <tr>
        <td>委託者Owner: </td>
        <th class="text-actually">{{item.username}}</th>
    </tr>
    <tr>
        <td>接案者Accepter: </td>
        <th class="text-actually">{{item.accepter}}</th>
    </tr>
    <tr>
        <td>圖片Image: </td>
        <td><img class="img-uploaded" src="/static/media/{{ item.file }}"></td>
    </tr>
</table>
<br>
<a class="btn btn-default" href="{% url 'forum:add_comment_to_post' question_url_id=item.id %}">留言 Add comment</a>
<br>
<a class="btn btn-default" id="bt_accept" href="{% url 'forum:accept_task' question_url_id=item.id %}">接收委託 accept task</a>

{% endfor %}
<hr>
        {% for comment in querytwo %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text }}</p>
    </div>
        {% endfor %}

<!--
        <data name="data_accpetorid" value=item.id></data>>
            <form action = "/accepttask/" method="POST">
        {% csrf_token %}
        <data name="item_id" value= item.id></data>
        <data name="item_title" value= item.title></data>
        <p><button name="bt_accepttask" type="submit">確認接案 accept task</button></p>
    </form>
-->
{% endblock %}
